<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cookmilk.prog02b">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LocationActivity">
            <intent-filter>
                <action android:name="com.example.cookmilk.prog02b.LocationActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".LocationsenActivity">
            <intent-filter>
                <action android:name="com.example.cookmilk.prog02b.LocationsenActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".locationrepActivity">
            <intent-filter>
                <action android:name="com.example.cookmilk.prog02b.LocationrepActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".LocationmoreActivity">
            <intent-filter>
                <action android:name="com.example.cookmilk.prog02b.LocationmoreActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity">
            <intent-filter>
                <action android:name="com.example.cookmilk.prog02b.SearchActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".PhoneToWatchService" />
        <!-- Listeners are special services that need to be declared like below, as BIND_LISTENER -->
        <service
            android:name=".PhoneListenerService"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.AIzaSyCmTk1hB2Tp-0r4PM7nYDm7tyQtJlVR3nY"
            android:value="AIzaSyCmTk1hB2Tp-0r4PM7nYDm7tyQtJlVR3nY" />

        <activity android:name=".Searchrep">
            <intent-filter>
                <action android:name="com.example.cookmilk.prog02b.Searchrep" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
